{% block content %}
    <h2> Exercises </h2>
    <ul>
       {% for exercise in exercise_list %}
            <li>
                <a href="{% url 'WBBackend:exercise_description' exercise.id %}">
                    {{exercise.exercise_name}}
                </a>
            </li>
        <input type="checkbox"> {{exercise.exercise_name}}
        {% endfor %}
        {% for custom_exercise in custom_exercise_list %}
            <li>
                <a href="{% url 'WBBackend:custom_exercise_description' exercise.id %}">
                    {{custom_exercise.exercise_name}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}