{% block content %}
    <h2> Exercises </h2>
    <ul>
        {% for exercise in exercise_list %}
            <li>
                <a href="{% url 'WorkoutBuddy:exercise_description' exercise.id %}">
                    {{exercise.exercise_name}}
                </a>
            </li>
        {% endfor %}
        {% for custom_exercise in custom_exercise_list %}
            <li>
                <a href="{% url 'WorkoutBuddy:' exercise.id %}">
                    {{custom_exercise.exercise_name}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}